body{
    /* background-image: url(/image/background.png); */
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

main{
    margin: 30px;
}

#headerr{
    background-color: #021526;
    padding: 30px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

#fvc{
    width: 100px;
    display: inline;
}

@font-face{
    src: url(font/BebasNeue-Regular.ttf);
    font-family: Bbn;
}

@font-face{
    src: url(/font/Lato-Regular.ttf);
    font-family: Lato;
}

#welcome{
    font-family: Bbn;
    font-size: 50px;
    margin: 0px;
    padding-left: 30px; 
    color: #E2E2B6;
    
    /* background-color: #021526; */
}

.navbar ul{
    list-style-type: none;
    background-color: #6EACDA;
    padding: 0px;
    margin: 0px;
    overflow: auto;
}

.navbar #personal{
    float: right;
    font-size: 25px;
}

.navbar #main{
    float: left;
    font-size: 25px;
}

.navbar a{
    color: #03346E;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Lato;
    font-weight: bold;
}

.navbar{
    a:link{
        background-color: #6EACDA;
    }
    a:hover{
        background-color: #2e81c1;;
    }
    a:active{
        background-color: #006abb;;
    }
}

#intro{
    /* padding: 30px; */
    background-color: hsl(0, 0%, 100%) ;
    display: flex;
    overflow: auto;
}

#intro video{
    /* height: 50vh; */
    width: 50vw;
    margin-right: 15px;
    display: block-inline;
}

#intro p{
    text-align: justify;
    padding: 30px;
    font-size: 1.5em;
    font-family: Lato;
}

#intro div{
    margin-left: 15px;
    /* padding-left: 0px; */
    display: flex;
    border: 3px solid;
    width: 50vw;
    justify-content: center;
    align-items: center;
    background-color: #E2E2B6;
}

#stem{
    font-family: Lato;
    font-size: 30px;
    color: #03346E;
}

#imgintro{
    display: flex;
    /* background-color: white; */
    align-items: center;
    justify-content: center;
}

#imgintro button{
    font-size: 100px;
    color: #03346E;
    background-color: white;
    border: none;
    padding: 30px;
}

#imgintro img{
    width: 80vw;
}

footer{
    background-color: #021526;
    padding: 20px;
}

footer h3{
    color: #c0c0c0;
    font-family: Lato;
}

footer i{
    padding: 5px;
}

footer a{
    text-decoration: none;
}

/* -------------- index.css -------------- */

/* #signup{
    /* background-color: aqua; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
} */

#register{
    font-family: Lato;
    font-size: 30px;
    color: #021526;
}

#signup {
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        /* background-color: #03346E; */
        /* border: 3px solid; */
        border-radius: 7%;
        padding: 30px;
        width: 500px;
        /* padding-left: 200px; */
    }
    
    form label, form p{
        font-size: 25px;
        font-family: Lato;
        color: #021526;
    }
    
    form input{
        font-size: 25px;
        font-family: Lato;
        margin-left: 10px;
        padding: 5px;
        color: #021526;
    }
    
    form textarea{
        font-size: 25px;
        font-family: Lato;
        margin-left: 10px;
        padding: 7px;
        color: #021526;
    }

    form #compulsory{
        display: inline;
        color: rgb(255, 0, 0);
    }
}
